
<style>

  .main-screen{
    display : flex;
    flex-direction:column;
  }

  .visor{
    margin-top : 10px;
    padding : 10px;
    font-size: 18px;
    
  }
  

  select{
      width: 58%;
  }

  button{
      text-align: center;
      cursor: pointer;
      width: 100%;
  }


</style>   

<html>
<div class="display"> 

	<div class="main-screen">

        <div class="row">
            <label  class="visor">Tipo de Produto</label>
            <select class="visor" id="cmbTipo">
                <option value="VENDA">Produtos</option>
                <option value="SERVICO">Serviços</option>
                <option value="CONJ">Conjuntos</option>
                <option value="TINTA_E' OR tipo ='TINTA">Tintas</option>
                <option value="TINTA_E">Tintas Especiais</option>
                <option value="PIGMTO">Pigmentos</option>
            </select>    
        </div>
        <div class="row">
            <input class="visor" type="radio" id="SOMA" name="SENT" value="SOMA" checked>
            <label class="visor" for="SOMA">ACRÉSSIMO</label><br>
            <input class="visor" type="radio" id="SUB" name="SENT" value="SUB">
            <label class="visor" for="SUB">DECRÉSSIMO</label><br>
        </div>
        
        <div class="row">
            <label class="visor"> Valor (%)</label>
            <input type="text" class="visor" id="edtVisor" value='' onkeyup="money(this)"/>    
        </div>

	
        <button id="btnReajustar" class="visor">Reajustar</button>	

	</div>


</div>

</html>

<script>

    document.getElementById('btnReajustar').addEventListener('click',()=>{


        const tipo = document.getElementById('cmbTipo').value
        const val = parseFloat(document.getElementById('edtVisor').value)
        const perc = (val/100)+1
        let query = `UPDATE tb_produto SET preco_comp = ROUND(preco_comp * ${perc} ,2) WHERE tipo='${tipo}'`
        let acres = "acréssimo"

        if(document.getElementById('SUB').checked){            
            query = `UPDATE tb_produto SET preco_comp = ROUND(preco_comp / ${perc} ,2) WHERE tipo='${tipo}'`
            acres = "decréssimo"


        }


        if(tipo == "VENDA"){

             query = `UPDATE tb_produto SET margem = ROUND((((preco_comp * (margem/100 +1)) * (${val}/100 +1) / preco_comp) -1)*100 ,2) WHERE tipo='VENDA' `

            if(document.getElementById('SUB').checked){   
                query = `UPDATE tb_produto SET margem = ROUND((((preco_comp * (margem/100 +1))  / (${val}/100 +1) / preco_comp) -1) *100 ,2) WHERE tipo='VENDA' `                        
            }

        }

        if(confirm(`Deseja realmente um ${acres} de ${val}% para todos os(as) ${document.getElementById('cmbTipo').options[document.getElementById('cmbTipo').selectedIndex].text}?`)){
            alert(query)
            const data = new URLSearchParams();
            data.append('query',query);

            const myRequest = new Request('ajax/ajax.php',{
                method: 'POST',
                body: data
            });

            fetch(myRequest)
            .then((response)=>{
                if(response.status == 200){
                    alert( "Dados alterados com sucesso!")
                }
            })

        }

    })



</script>